.container {
  max-width: 768px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

@media (min-width: 992px) {
  .container {
    max-width: 95%;
  }
}

/* Display */
.d-flex {
  display: flex;
}

.flex-50 {
  flex: 50%;
}

.flex-auto {
  flex: auto;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-around {
  align-items: center;
  justify-content: center;
}

.justify-between {
  align-items: center;
  justify-content: space-between;
}

.direction-column {
  flex-direction: column;
}

/* App */

.content {
  display: flex;
  flex-direction: column;
}

@media (min-width: 992px) {
  .content {
    flex-direction: row;
  }
}
