.Tooltip {
  position: absolute;
  bottom: -140%;
  left: 10%;
  max-width: 50%;
  font-size: .675rem;
  font-weight: 600;
  border-radius: 10px;
  padding: .3rem .4rem;
  transition: 0.2s ease-in-out;
}

.Tooltip__arrow {
  background: inherit;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: -4px;
  left: 0;
  right: 0;
  text-align: center;
  height: 8px;
  width: 8px;
  transform: rotate(45deg);
}

.Tooltip--error {
  background-color: #E53E3E;
  color: #fff;
  animation: fade 0.2s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}