@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* Base */
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #edf2f7;
  font-family: 'Poppins', sans-serif;
  margin: 1rem 0 0 0;
}

button {
  font-family: 'Poppins', sans-serif;
}

h1 {
  text-align: center;
  margin: 1.5rem 0;
  font-size: 1.8rem;
}
@media (min-width: 992px) {
  h1 {
    font-size: 2rem;
  }
}